.container_table {
  width: 90%;
  margin: 0 4;
  align-items: center;

  table {
    font-size: 1.2rem;
    th {
      background-color: #3f51b5;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }
    td {
      background-color: aliceblue;
      padding: 1rem;
      text-align: center;
    }
  }

  .container_total {
    margin-top: 1rem;
    .total {
      color: black;
      font-size: 1.5rem;
    }
  }
}
